HUBSPOT_SERVICE_KEY=
DATABASE_URL=postgresql://user:pass@host:5432/postgres
USER_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
API_BASE_URL=
FRONTEND_URL=
ENVIRONMENT=development
ALLOWED_EMAILS=
SYNC_FLOOR=2026-07-01T00:00:00+00:00
